.navbar-light  {
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
}

h2.site-description {
    font-weight: 400;
    font-size: 13px;
    font-size: .928571429rem;
    line-height: 1.846153846;
    color: #757575;
}


h1.entry-title {
    padding-top: 15px;
    font-size: 1.571428571rem;
}

p.entry-content {
    line-height: 1.714285714;
}

img.logo {
    padding: 25px;
}